<h1 class="text-3xl">Article List</h1>

<table class="my-4 table-auto border border-slate-500 w-full">
  <thead>
    <tr>
      <th class="w-1/4">Author</th>
      <th class="w-1/4">Title</th>
      <th class="w-1/4">Description</th>
      <th class="w-1/4">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr class="leading-8">
        <td class="text-center"><%= article.user.username if article.user %></td>
        <td class="text-center"><%= article.title %></td>
        <td class="text-center"><%= article.description %></td>
        <td class="flex justify-center items-center gap-4">
          <button class="px-5 py-3 text-xs rounded-md text-zinc-800 bg-gray-300 hover:bg-blue-700 hover:text-white duration-500"><%= link_to("Show", article_path(article)) %></button>
          <button class="px-5 py-3 text-xs rounded-md text-zinc-800 bg-gray-300 hover:bg-blue-700 hover:text-white duration-500"><%= link_to("Edit", edit_article_path(article)) %></button>
          <button class="px-5 py-3 text-xs rounded-md text-zinc-800 bg-gray-300 hover:bg-blue-700 hover:text-white duration-500"><%= link_to("Delete", article_path(article), method: :delete, data: {confirm: "Are you sure?"}) %></button>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<button class="mt-8 px-5 py-3 text-xs rounded-md text-zinc-800 bg-gray-300 hover:bg-blue-700 hover:text-white duration-500"><%= link_to("Create Article", new_article_path,) %></button>