<h1 class="text-center text-3xl">Alpha Bloggers</h1>

<div class="mx-auto">
  <% @users.each do |user| %>
    <div class="flex justify-center items-center">
      <div class="w-8/12 mt-4">
        <div class="text-center shadow mb-5 bg-white rounded">
          <div class="font-italic">
            <%= link_to user.username, user %>
          </div>
          <div>
            <h5 class="text-md">
              <%= link_to gravatar_for(user, size: 150), user %>
            </h5>
            <p class="text-md"><%= pluralize(user.articles.count, 'article') %></p>
            <%= link_to "View profile", user, class: "btn btn-outline-success" %>
            <%= link_to "Edit profile", edit_user_path(user), class: "btn btn-outline-info" %>
          </div>
          <div class="card-footer text-muted">
            <small>Joined <%= time_ago_in_words(user.created_at) %> ago</small>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>